.form {
    background-color: gray;
    width: 400px;
    justify-content: center;
    text-align: center;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-color: aqua;
  }
  input {
    height: 35px;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: rgb(83, 82, 82);
    color: aliceblue;
  }
  